.container-fluid {
    background-color: #000 !important;    
    background-size: contain !important;    
    width: 100vw !important;
    height: 800vh !important;
}

  .print-header { display: none; text-align: center; margin-bottom: 20px; }
  @media print {
    .print-header { display: block; }
    .b-print { display: none; }
    canvas { max-width: 100% !important; height: auto !important; }
  }

  .m-top {
    margin-top:  -10px !important;
  }